<html>

<head>
    <title>大厅</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/halls.css" />
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
</head>

<body>
    <div room="1" class="card-bg">
        <div class="card-col red"><em class="card-num-up">1</em>
            <div class="card-num-center"><em>1    </em></div><em class="card-num-down">1</em></div>
    </div>
    <div room="2" class="card-bg">
        <div class="card-col yellow"><em class="card-num-up">2    </em>
            <div class="card-num-center"><em>2</em></div><em class="card-num-down">2</em></div>
    </div>
    <div room="3" class="card-bg">
        <div class="card-col blue"><em class="card-num-up">3</em>
            <div class="card-num-center"><em>3</em></div><em class="card-num-down">3</em></div>
    </div>
    <div room="4" class="card-bg">
        <div class="card-col green"><em class="card-num-up">4</em>
            <div class="card-num-center"><em>4</em></div><em class="card-num-down">4</em></div>
    </div>
    <script type="text/javascript" src="javascripts/halls.js"></script>
</body>

</html>
