<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 

<title>uno</title>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascripts/chat.js"></script>
<link type="text/css" rel="stylesheet" href="stylesheets/common.css">
<link type="text/css" rel="stylesheet" href="stylesheets/chat.css">
</head>
<body>
  <div id="contain">
    <div id="content">
      <div id="content_show">
      <canvas id="sence" style="border:1px solid #c3c3c3;"></canvas>
        <div id="contents"></div>
      </div>
      <ul id="navs" data-open="收起" data-close="展开">
        <li><a href="javascript:;" id="play">摸牌</a></li>
        <li><a href="javascript:;">质疑</a></li>
        <li><a href="javascript:;">uno</a></li>
        <li><a href="javascript:window.location.href='hall'" id="goback">退出</a></li>
      </ul>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/sence.js"></script>
</body>
<script type="text/javascript">
(function(){
  var ul=$("#navs"),li=$("#navs li"),i=li.length,n=i-1,r=120;
  ul.click(function(){
    $(this).toggleClass('active');
    if($(this).hasClass('active')){
      for(var a=0;a<i;a++){
        li.eq(a).css({
          'transition-delay':""+(50*a)+"ms",
          '-webkit-transition-delay':""+(50*a)+"ms",
          '-o-transition-delay':""+(50*a)+"ms",
          'transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(-r*Math.sin(90/n*a*(Math.PI/180)))+"px",
          '-webkit-transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(-r*Math.sin(90/n*a*(Math.PI/180)))+"px",
          '-o-transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(-r*Math.sin(90/n*a*(Math.PI/180)))+"px",
          '-ms-transform':"translate("+(-r*Math.cos(90/n*a*(Math.PI/180)))+"px,"+(-r*Math.sin(90/n*a*(Math.PI/180)))+"px",
        });
      }
    }else{
      li.removeAttr('style');
    }
  });
})($);
</script>
</html>