<html>

<head>
    <title>登录</title>
    <link rel="stylesheet" href="/stylesheets/signin.css" />
    <link rel="stylesheet" href="/stylesheets/common.css" />
</head>

<body>
    <div id="content">
        <form style="margin-top:70px;" method="post">
            <div class="form_line">
                <div class="form_label">昵称：</div>
                <input type="text" name="name" />
            </div>
            <div class="form_line">
                <div class="form_label"></div>
                <button type="submit" class="button gray">登录</button>
                <button type="reset" class="button gray">取消</button>
            </div>
        </form>
    </div>
</body>

</html>
