body{
  overflow: hidden;
}

#contain{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
/*background: url(../images/design.jpg) no-repeat;
  background-size: 100%;*/

  background: -webkit-linear-gradient(left, #223a52, #3e79a4, #223a52); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #223a52, #3e79a4, #223a52); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #223a52, #3e79a4, #223a52); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #223a52, #3e79a4, #223a52); /* 标准的语法 */
}
#content{
  position: absolute;
  top: 0;
  right: 200px;
  bottom: 0;
  left: 0;
  width: 100%;
}
#content_show{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 140px;
  right: 0;
}

#content_playing,
#content_saying{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  /*right: 0;*/
  width: 50%;
}

#content_playing{
  right: 0;
  /*left: 50%;*/
  width: 100%;
}


#users_online{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 70px;
}

#play_toolbar,
#toolbar{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: #aaa;
  background: rgba(0,0,0,0.2);
}
#usersbar{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 5px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow:-2px 2px 5px #292929;
  -moz-box-shadow:-2px 2px 5px #292929;
  box-shadow:-2px 2px 5px #292929;
}
#user_label{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height:30px;
  border-top-left-radius: 5px;
  background: #aaa;
  background: rgba(0,0,0,0.4);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #eee;
}
#users_list{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
  padding: 10px 0 10px 10px;
}
#users_list ul{
  width:100%;
  height:50%;
  list-style: none;
  overflow-x:hidden;
  overflow-y:scroll;
}
#users_list ul li{
  width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  cursor: pointer;
  border-bottom: 1px dashed #666;
}
#users_list ul li:hover{
  background: #eee;
  background:  rgba(0,0,0,0.2);
  border-radius: 5px;
}
.sayingto{
  background: #ddd;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  color: #39F;
}
#contents{
  position: absolute;
  top: 0px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #eee;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  height: 50px;
}
#play_content,
#input_content{
  position: absolute;
  /*top: 35px;*/
  left: 5px;
  right: 105px;
  bottom: 0;
  border-top-left-radius: 5px;
  outline: none;
  /*padding: 10px;*/
  overflow:auto;
  background: #eee;
  background: rgba(0,0,0,0.1);
  height: 50px;
}

#play_content>a{
  display: inline-block;
  padding: 0 8px;
  line-height: 50px;
}


#playingto,
#sayingto{
  background: #999;
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 5px;
  right: 105px;
  bottom: 5px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-bottom-left-radius: 5px;
}
#from
{
  color:#F90;
  font-weight:bold;
}
#to{
  color:#39F;
  font-weight:bold
}

#say{
  position: absolute;
  /*top: 35px;*/
  right: 5px;
  bottom: 0;
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bolder;
  font-family: "幼圆","微软雅黑","黑体","宋体";
  color: #eee;
  background: #666;
  background: rgba(0,0,0,0.5);
}

/*菜单*/


#navs {
    position: fixed;
    right: 4px;
    bottom: 4px;
    width: 55px;
    height: 55px;
    line-height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 55px;
}

#navs>li,
#navs:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #605F60;
}

#navs>li {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: .6s;
}

#navs:after {
    content: attr(data-close);
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#navs.active:after {
    content: attr(data-open);
}

#navs a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}

ul{
  outline: none;
}

