#contain{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content{
  position: absolute;
  top: 0;
  right: 200px;
  bottom: 0;
  left: 0;
  width: 100%;
}
#content_show{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 140px;
  right: 0;
}

#content_playing,
#content_saying{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  /*right: 0;*/
  width: 50%;
}

#content_playing{
  right: 0;
  /*left: 50%;*/
  width: 100%;
}


#users_online{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 70px;
}

#play_toolbar,
#toolbar{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  background: #aaa;
  background: rgba(0,0,0,0.2);
}
#usersbar{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 5px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow:-2px 2px 5px #292929;
  -moz-box-shadow:-2px 2px 5px #292929;
  box-shadow:-2px 2px 5px #292929;
}
#user_label{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height:30px;
  border-top-left-radius: 5px;
  background: #aaa;
  background: rgba(0,0,0,0.4);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #eee;
}
#users_list{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
  padding: 10px 0 10px 10px;
}
#users_list ul{
  width:100%;
  height:50%;
  list-style: none;
  overflow-x:hidden;
  overflow-y:scroll;
}
#users_list ul li{
  width: 155px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  cursor: pointer;
  border-bottom: 1px dashed #666;
}
#users_list ul li:hover{
  background: #eee;
  background:  rgba(0,0,0,0.2);
  border-radius: 5px;
}
.sayingto{
  background: #ddd;
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
  color: #39F;
}
#contents{
  position: absolute;
  top: 0px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #eee;
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  height: 50px;
}
#play_content,
#input_content{
  position: absolute;
  /*top: 35px;*/
  left: 5px;
  right: 105px;
  bottom: 0;
  border-top-left-radius: 5px;
  outline: none;
  /*padding: 10px;*/
  overflow:auto;
  background: #eee;
  background: rgba(0,0,0,0.1);
  height: 50px;
}

#play_content>a{
  display: inline-block;
  padding: 0 8px;
  line-height: 50px;
}


#playingto,
#sayingto{
  background: #999;
  background: rgba(0,0,0,0.3);
  position: absolute;
  left: 5px;
  right: 105px;
  bottom: 5px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-bottom-left-radius: 5px;
}
#from
{
  color:#F90;
  font-weight:bold;
}
#to{
  color:#39F;
  font-weight:bold
}
#play,
#say{
  position: absolute;
  /*top: 35px;*/
  right: 5px;
  bottom: 0;
  width: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bolder;
  font-family: "幼圆","微软雅黑","黑体","宋体";
  color: #eee;
  background: #666;
  background: rgba(0,0,0,0.5);
}




#goback{
    display: block;
    text-align: center;
    height: 50px;
    line-height: 70px;
    background: #999999;
    border-radius: 5px;
    color: #fff;
    height: 70px;
    font-size: 20px;
}